<div class="organizationChart">
	<p-organizationChart [value]="data">
		<ng-template let-node pTemplate="person">
			<div class="p-2 text-center">
				<img [src]="node.data.image" class="mb-3 w-3rem h-3rem" />
				<div class="font-bold">{{ node.data.name }}</div>
				<div>{{ node.data.title }}</div>
			</div>
		</ng-template>
	</p-organizationChart>
</div>
<div class="pieChart">
	<div style="width: 30% !important; height: auto !important;">
		<p-chart type="pie" [data]="pie" [options]="options"></p-chart>
	</div>
</div>

<div class="horizontalBarChart">
	<p-chart type="bar" [data]="bar" [options]="choice"></p-chart>
</div>

<div class="lineChart">
	<p-chart type="line" [data]="line" [options]="options"></p-chart>
</div>