<div class="reactive">
    <form action="" [formGroup]="commonForm">
        <div class="name-box">
            <label for="name">Name</label>
            <input type="text" pInputText formControlName="name" placeholder="Enter a Name" />
        </div>
        <div class="email-box">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" placeholder="Enter a Email" />
        </div>
        <div class="mobileNumber-box">
            <label for="mobileNumber">Mobile number</label>
            <input type="text" pInputText formControlName="mobileNumber" placeholder="Enter a Mobilenumber" />
        </div>
        <div class="message-box">
            <label for="message">Message</label>
            <textarea rows="5" cols="30" pInputTextarea formControlName="message" placeholder="Enter a Message">
            </textarea>
        </div>
        <div class="radio-btn">
            <label for="gender">Gender</label>
            <div *ngFor="let category of categories" class="field-checkbox">
                <p-radioButton [inputId]="category.key" [value]="category" formControlName="gender">
                </p-radioButton>
                <label [for]="category.key" class="ml-2">{{ category.name }}</label>
            </div>
        </div>
        <div class="check-box">
            <label for="city">City</label>
            <div class="single">
                <p-checkbox formControlName="city" value="New York" inputId="ny">
                </p-checkbox>
                <label for="ny">New York</label>
            </div>
        </div>
        <div class="multiple-check">
            <label for="">Food</label>
            <div class="multi-box">
                <p-checkbox formControlName="food" value="New York" inputId="ny">
                </p-checkbox>
                <label for="ny">Breakfast</label>
            </div>
            <div class="multi-box">
                <p-checkbox formControlName="food" value="New York" inputId="ny">
                </p-checkbox>
                <label for="ny">Lunch</label>
            </div>
            <div class="multi-box">
                <p-checkbox formControlName="food" value="New York" inputId="ny">
                </p-checkbox>
                <label for="ny">Dinner</label>
            </div>
        </div>
        <div class="dropdown">
            <label for="country">Country</label>
            <p-dropdown [options]="cities" formControlName="country" optionLabel="name" [filter]="true"
                placeholder="Select a Country"></p-dropdown>
        </div>
        <div class="multi-dropdown">
            <label for="">Cities</label>
            <p-multiSelect [options]="cities" formControlName="cities" optionLabel="name"
                placeholder="Select a Cities"></p-multiSelect>
        </div>
        <div class="calender">
            <label for="">Calender</label>
            <p-calendar formControlName="calender" [showIcon]="true" placeholder="Enter a date"></p-calendar>
        </div>
        <div class="upload-dia">
            <p-button label="Upload" (click)="showDialog()"></p-button>
            <p-dialog header="Upload File" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
                [draggable]="false" [resizable]="false">
                <div class="upload" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)">
                    <input type="file" (change)="onFileChange($event)">
                    <div class="file">
                        <label class="upload-label">
                            <div class="square-box" *ngIf="!selectedFile"></div>
                            <img class="select-file" *ngIf="!selectedFile" src="../../assets/photo-upload.svg"
                                alt="file-upload">
                            <input class="hidden-input" type="file" (change)="onFileChange($event)"
                                accept=".jpg, .jpeg, .png, .xlsx, .xls image/*">
                        </label>
                        <span class="upload-text" *ngIf="!selectedFile">Upload File</span>
                    </div>
                    <span class="file-name" *ngIf="selectedFile">Selected File: {{ selectedFile.name }}</span>
                </div>
                <div class="can-sub">
                    <p-button class="can-button" (click)="cancelDialog()" label="Cancel"></p-button>
                    <p-button class="sub-button" (click)="insert()" label="Submit"></p-button>
                </div>
            </p-dialog>
        </div>
        <div class="submit-btn">
            <p-button label="Submit"></p-button>
        </div>
    </form>
</div>

<div class="radar">
    <p-chart type="radar" [data]="data" [options]="options"></p-chart>
</div>