.reactive {
    form {
        .field {
            .sub-field {
              .p-multiselect {
                width: 50%;
                font-size: 13px;
              }
              .p-inputtext {
                width: 50%;
                font-size: 13px;
              }
              .p-dropdown {
                width: 50%;
                // font-size: 13px;
              }
              .p-calendar {
                width: 50%;
                // font-size: 13px;
              }
            }
          }
        .upload-dia {
            .p-dialog {
                width: 400px !important;
            .p-dialog-content {
                padding: 0px 30px 10px 30px;
            }
        }
            .can-sub {
                .can-button {
                    .p-ripple {
                    background: none !important;
                    border: 1px solid gray;
                    color: black;
                  }
                }
            }
        }
    }
}
.radar {
    text-align: center;
    .p-element {
        div {
            display: flex;
            justify-content: center;
            canvas {
                width: 50% !important;
                height: 100% !important;
            }
        }
    }
}


